/* Google Fonts import Montserrat */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
    font-family: var(--primary-font);
    background-color: var(--primary-color);
    color: var(--background-color-base);
}

/* CSS Variables */
:root {
    --primary-font: 'Montserrat', sans-serif;
    --secondary-font: "Open Sans", cursive;
    --primary-color: black;
    --secondary-color: #d27d60;
    --secondary-color-tint: #f5e5df;
    --background-color-dark: #222222;
    --highlight-color-light: #1fa2c2;
    --background-color-base: white;
    --button-color-highlight: #1987a3;
    --logo-width: 70px;
    --hero-height: 650px;
    --gap-size: 20px;
}

/* Typography */

h1,
h2,
h3,
p {
    text-align: center;
    margin-bottom: 0;
    line-height: 1.25rem;
}

h1,
h3,
h4 {
    font-weight: bold;
    letter-spacing: 0.1rem;
    font-size: 1.2rem;
}

h2 {
    font-weight: 600;
}

h4 {
    color: var(--secondary-color);
}

p {
    font-family: var(--secondary-font);
    font-weight: 500;
    font-size: 0.8rem;
    margin-bottom: 0.2rem;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: var(--highlight-color-light);
}

/* Styling for highlighting words in headings */
.highlight {
    color: var(--secondary-color);
    font-weight: bold;
    font-size: inherit;
}

/* Utility Classes */
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-light {
    color: var(--primary-color);
    background-color: var(--background-color-base);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.section-dark {
    color: var(--background-color-base);
}

.section-padding {
    padding: 2rem;
}

.section-padding-wide {
    padding: 2.5rem 7.4rem;
}

/* Hero Section */
.hero {
    position: relative;
    height: var(--hero-height);
    width: 100vw;
    background: url("../images/hero-image-grad-600px.webp") no-repeat top center;
    background-size: 600px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 22rem;
    margin: 0 auto;
    padding-left: 45px;
    padding-right: 45px;
}

.hero__logo img {
    position: absolute;
    top: 48%;
    left: 45%;
    transform: translate(-50%, -50%);
    width: 200px;
    z-index: 1;
}

.hero h1 {
    font-size: 1rem;
    margin-bottom: 0.8rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.hero h2 {
    padding-bottom: 0.5rem;
    font-size: 0.8rem;
}

.hero__text {
    justify-content: center;
    text-align: center;
}

/* Common button styling */
.button {
    background-color: var(--button-color-highlight);
    color: white;
    border: none;
    padding: 0.3rem 1rem;
    font-size: 0.8rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-top: 1rem;
}

.button:hover {
    background-color: #007ea7;
}

/* Section padding */

/* .usps,
.mixes,
.booking,
.booking-form__text {
    padding: 1.8rem 2rem;
} */


/* Set common flex variables */

.usps,
.booking,
.hero__text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* For hiding the main heading as it's only used for sematic purposes */
.hero__hidden-heading {
    display: none;
}

/* Style cta buttons */
.hero__button,
.booking__button {
    background-color: var(--button-color-highlight);
    border: none;
    color: white;
}

/* Navbar */
.navbar {
    background-color: var(--primary-color);
}

#navbar .logo {
    width: var(--logo-width);
}

/* Navbar socials */
.navbar__socials {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.navbar__socials a {
    color: var(--text-color-light);
    font-size: 1.25rem;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navbar__socials a:hover {
    color: var(--secondary-color);
}

/* USP section styling */
.usps {
    background-color: var(--background-color-base);
    flex-direction: column;
}

.usps h3 {
    color: var(--primary-color);
    margin-bottom: 1.5rem;
}

.usps h4 {
    font-size: 1rem;
}

.usps p {
    text-align: left;
    font-size: 0.8rem;
}

/* USP Cards */
.usps__cards {
    display: flex;
    gap: 1.8rem;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
}

.usps__card {
    position: relative;
    background-size: cover;
    background-color: var(--primary-color);
    width: 18rem;
    height: 18rem;
    border-radius: 5px;
    padding: 1.1rem;
    padding-top: 11.4rem;
    text-align: left;
}

.usps__experience {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 30%, rgba(0, 0, 0, 0.5) 60%, rgba(0, 0, 0, 0) 100%),
        url('../images/experience-audience.webp') no-repeat center center;
}

.usps__music {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 30%, rgba(0, 0, 0, 0.5) 60%, rgba(0, 0, 0, 0) 100%),
        url('../images/music-dancers.webp') no-repeat center center;
}

.usps__equipment {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 30%, rgba(0, 0, 0, 0.5) 60%, rgba(0, 0, 0, 0) 100%),
        url('../images/immersive-equipment.webp') no-repeat center center;
}

.about__link,
.usps__card-link {
    color: var(--highlight-color-light);
    font-weight: 600;
}

/* About Section */

.about {
    background-color: var(--background-color-dark);
    padding: 1.8rem 2rem;
}

.about h3 {
    margin-bottom: 1.5rem;
}

.about__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
    max-width: 288px;
    margin: 0 auto;
}

.about__picture img {
    max-width: 100%;
    width: 288px;
    height: auto;
    border-radius: 5px;
}

.about__text p {
    text-align: left;
}

/* Mixes Section */
.mixes {
    background-color: var(--background-color-base);
    flex-direction: column;
    color: var(--primary-color);
}

.mixes__platforms {
    font-size: 4rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--gap-size);
    margin-top: 20px;
}

.mixes__platform-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px;
}

.mixes__platform {
    font-size: 3rem;
    color: var(--background-color-base);
    text-decoration: none;
    margin-bottom: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    background-color: var(--primary-color);
    border-radius: 50%;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.caption {
    font-size: 0.8rem;
    color: var(--primary-color);
}

.mixes__platform:hover {
    transform: scale(1.1);
    background-color: var(--highlight-color-light);
}

/************ Booking page styling ************/
#booking-form {
    padding-top: 1rem;
}

.booking-form__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.booking-form__text h3,
.booking-form__success h3 {
    margin-bottom: 2rem;
}

.booking-form__text ul {
    padding-left: 1.5rem;
    margin-bottom: 0.7rem;
}

.booking-form__text li {
    font-family: var(--secondary-font);
    font-weight: 400;
    font-size: 0.8rem;
    list-style-type: none;
    line-height: 1.25rem;
}


/************ Footer styling ************/
.booking {
    background-color: var(--secondary-color-tint);
    height: 12rem;
    text-align: center;
    color: var(--primary-color);
}

.booking__cta {
    flex-direction: column;
    align-items: center;
}

.booking h3 {
    margin-bottom: 1.2rem;
}

/* Footer Styles */
.footer {
    background-color: var(--background-color-dark);
    color: var(--text-color-light);
    text-align: center;
}

.footer__container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.footer__links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1.5rem;
}

.footer__links a {
    color: var(--text-color-light);
    text-decoration: none;
    font-weight: bold;
}

.footer__links a:hover {
    text-decoration: none;
    color: var(--secondary-color);
}

.footer__socials a {
    margin: 0 0.5rem;
    color: var(--text-color-light);
    font-size: 1.5rem;
    text-decoration: none;
}

.footer__socials a:hover {
    color: var(--secondary-color);
}

.footer__copyright {
    font-size: 0.875rem;
    margin-top: 1rem;
}

/************ Media queries ************/

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    /* Enlarge hero image on larger screens */
    .hero {
        background: url("../images/hero-image-grad-768px.webp") no-repeat top center;
        background-size: 768px auto;
    }

    /* Enlarge headings */
    .hero h1 {
        font-size: 1.4rem;
        line-height: 2.2rem;
    }

    .hero h2 {
        font-size: 1rem;
        line-height: 1.6rem;
    }

    /* Constrain width of hero text on larger screens */
    .hero__text {
        max-width: 80%;
    }

    h3,
    h4 {
        font-weight: bold;
        letter-spacing: 0.1rem;
        font-size: 1.5rem;
    }

    p {
        font-weight: 400;
        font-size: 1rem;
        margin-bottom: 0.2rem;
        line-height: 1.5rem;
    }

    /* Section padding */
    .usps,
    .mixes,
    .booking {
        padding: 2.5rem 2rem;
    }


    /* USP section styling */
    .usps h3 {
        color: var(--primary-color);
        margin-bottom: 2rem;
    }

    .usps h4 {
        font-size: 1.35rem;
    }

    .usps p {
        text-align: left;
        font-size: 1rem;
        line-height: 1.3rem;
    }

    /* Enlarge USP Cards */
    .usps__card {
        position: relative;
        background-size: cover;
        background-color: var(--primary-color);
        width: 23rem;
        height: 23rem;
        border-radius: 5px;
        padding: 1.1rem;
        padding-top: 15.5rem;
    }

    .about__link,
    .usps__card-link {
        font-weight: 600;
    }

    /* About Section */
    .about h3 {
        margin-bottom: 2.5rem;
    }

    .about__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        max-width: 368px;
    }

    .about__picture img {
        max-width: 100%;
        width: 368px;
        height: auto;
        border-radius: 5px;
    }

/* Booking form section */
.booking-form__text li {
    font-size: 1rem;
    line-height: 1.6rem;
}

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    /* Enlarge hero image on larger screens */
    .hero {
        background: url("../images/hero-image-grad-992px.webp") no-repeat top center;
        background-size: 992px auto;
    }

    /* Adjust hero logo on larger screens */
    .hero__logo img {
        top: 48%;
        left: 48%;
    }

        /* Enlarge headings */
        .hero h1 {
            font-size: 2rem;
            line-height: 2.2rem;
        }
    
        /* Constrain width of hero text on larger screens */
        .hero__text {
            max-width: 60%;
        }
    
        h3,
        h4 {
            font-weight: bold;
            letter-spacing: 0.1rem;
            font-size: 1.5rem;
        }
    
        p {
            font-weight: 400;
            font-size: 1rem;
            margin-bottom: 0.2rem;
            line-height: 1.5rem;
        }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    /* Enlarge hero image on larger screens */
    .hero {
        background: url("../images/hero-image-grad-1050px.webp") no-repeat top center;
        background-size: 1050px auto;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    /* Enlarge hero image on larger screens */
    .hero {
        background: url("../images/hero-image-grad.webp") no-repeat top center;
        background-size: 1500px auto;
        height: 700px;
        padding-top: 28rem;
        max-width: 1200px;
    }

    /* Adjust hero logo on larger screens */
    .hero__logo img {
        top: 57%;
        left: 48%;
    }

    /* Enlarge h2 on larger screens */
    .hero h2 {
        font-size: 1rem;
    }

    /* Change about section on larger screens */
    .about__container {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        text-align: left;
        gap: 3rem;
        max-width: 1000px;
    }

    .about__text {
        max-width: 60%;
    }

    .about__text p {
        margin-bottom: 1rem;
    }

    .about__picture {
        flex-shrink: 0;
    }

    /* Change size of mixes icons */
    .mixes__platform {
        font-size: 5.3rem;
        color: var(--background-color-base);
        text-decoration: none;
        margin-bottom: 5px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 140px;
        height: 140px;
        background-color: var(--primary-color);
        border-radius: 50%;
        transition: transform 0.3s ease, background-color 0.3s ease;
    }

    /* make footer responsive on larger screens */
    .footer__container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .footer__links {
        text-align: left;
    }

    .footer__socials {
        text-align: right;
    }
}