/* Google Fonts import Inter and Macondo */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Macondo&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal overflow */
}

/* CSS Variables */
:root {
    --primary-font: 'Montserrat', sans-serif;
    /* black */
    --primary-color: black;
    /* orange */
    --secondary-color: #d27d60;
    /* blue */
    --highlight-color-light: #1fa2c2;
    /* white */
    --background-color-base: white;
}

/* Global styles */

/* Ensuring links don’t use browser defaults */
a {
    color: inherit; /* Matches surrounding text */
    text-decoration: none;
}

a:hover {
    color: var(--highlight-color-light); /* Adds hover effect */
    text-decoration: underline; /* Optional for emphasis */
}


/* Set global font variables */
body {
    font-family: var(--primary-font);
    background-color: var(--primary-color);
}

/* For hiding the main heading as it's only used for sematic purposes */
.hero__hidden-heading {
    display: none;
}

/* Make h3 heading bold and centered */
h3 {
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-align: center;
}

/* Style cta buttons */
.hero__button,
.booking__button {
    background-color: var(--highlight-color-light);
    border: none;
    color: white;
}

/* Styling for highlighting words in headings */
.highlight {
    color: var(--secondary-color);
    font-weight: bold;
    font-size: inherit;
}

/* Mixes Section */

.mixes {
    background-color: var(--background-color-base);
}

/* Styling for mixes platform icons */
.mixes__platforms {
    font-size: 4rem;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    color: white;
    text-decoration: none;
}


/* grid visualisation CSS for testing */

header,
section {
    border: 2px solid black;
}

.hero div,
.usps div,
.usps header,
.about div,
nav,
footer {
    border: 2px solid white;
    background-color: lightgrey;
}


/* Footer / contact */

.booking {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 20vh;
    text-align: center;
    color: white;
}

.booking__cta {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center-align the content horizontally */
    gap: 20px; 
}

.booking__button {
    background-color: var(--highlight-color-light);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px; 
    transition: background-color 0.3s ease;
}

.booking__button:hover {
    background-color: #007ea7;
}